<div class="app-container">
  <!-- Navigation Sidebar -->
  <nav class="navbar">
    <img
      [routerLink]="'/'"
      src="assets/edge-carolina-logo.png"
      alt="Edge Carolina Logo"
      class="logo"
    />
    <div class="button-container">
      <a class="button" [routerLink]="'/'">Home</a>
      <a class="button" [routerLink]="'/about'">About</a>
      <a class="button" [routerLink]="'/products'">Products</a>
      <div class="dropdown">
        <a class="button">More</a>
        <div class="dropdown-content">
          <a [routerLink]="'/admin'">Join</a>
          <!-- Add more links here as needed -->
        </div>
      </div>
    </div>
  </nav>

  <!-- Main Content Area -->
  <main
    role="main"
    class="main"
    [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''"
  >
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
</div>
