<body>
  <img src="assets/join-bg.jpg" alt="bg" class="cover-image" />
  <h1></h1>
  <div class="form-container">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input
          type="text"
          formControlName="firstName"
          class="form-control"
          id="firstName"
          placeholder="Enter your first name"
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          id="lastName"
          placeholder="Enter your last name"
        />
      </div>
      <div class="form-group">
        <label for="collegeYear">College Year:</label>
        <input
          type="text"
          formControlName="collegeYear"
          class="form-control"
          id="collegeYear"
          placeholder="Enter your college year"
        />
      </div>
      <div class="form-group">
        <label for="major">Major:</label>
        <input
          type="text"
          formControlName="major"
          class="form-control"
          id="major"
          placeholder="Enter your major"
        />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="email"
          placeholder="Enter your email"
        />
        <div
          *ngIf="
            adminForm.get('email')?.errors?.['required'] &&
            adminForm.get('email')?.touched
          "
          class="alert alert-danger"
        >
          Email is required.
        </div>
        <div
          *ngIf="
            adminForm.get('email')?.errors?.['email'] &&
            adminForm.get('email')?.touched
          "
          class="alert alert-danger"
        >
          Please enter a valid email.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="password"
          placeholder="Enter your password"
        />
        <div
          *ngIf="
            adminForm.get('password')?.errors?.['required'] &&
            adminForm.get('password')?.touched
          "
          class="alert alert-danger"
        >
          Password is required.
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="adminForm.invalid"
      >
        Join Edge Carolina
      </button>
    </form>
  </div>

  <footer>
    <p>&copy; 2024 Edge Carolina. All rights reserved.</p>
  </footer>
</body>
